/* Loading fonts */

@font-face {
  font-family: 'NewsCycle-Bold';
  src: url('/assets/font/NewsCycle-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NewsCycle';
  src: url('/assets/font/NewsCycle-Regular.ttf') format('truetype');
}

* {
  font-family: 'NewsCycle';
}

.reveal-viewport {
  background-color: #E5E5E5;
}

nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 5vw;
}

.brand-container {
  display: flex;
  align-self: center;
}

.back-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FF7A00;
  box-sizing: border-box;
  border-radius: 8px;
  width: 45px;
  height: 45px;
  text-decoration: none;
}

.back-container:hover {
  background-color: #FF7A00;
}

.back-container:hover .back-icon {
  color: #fff;
}

.back-container .back-icon {
  color: #FF7A00;
}

nav .langchooser {
  line-height: 10vh;
  color: #FF7A00;
}

.progress-bar {
  width: 100hw;
  height: 2px;
  background-color: #FF7A00;
  opacity: .25;
}

/* Different kinds of text blocks */

.intro {
  font-size: 2rem;
}

.info {
  color: blue;
}

.warning {
  text-decoration: underline red solid;
}

.question{
  font-size: 2.5rem;
}

.site-header {
  font-family: 'NewsCycle-Bold';
  font-size: 2rem;
}

.site-sub-header {
  font-family: 'NewsCycle';
  font-size: 1.5rem;
}

body:not(.hide-menubar) .reveal.ready .menubar {
  top: 0;
  opacity: 1;
}

.reveal .lowercase {
  text-transform: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row .col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.reveal .flags {
  display: block;
  position: relative;
  margin-bottom: -80px !important;
  margin-top: 80px;
}

.reveal .flags label {
  display: inline-block;
}

.reveal .flags [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.reveal .flags img {
  border-radius: 40px;
  border: 4px solid #1a1626;
  margin: 0;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.5;
}

.reveal .flags img:hover {
  opacity: 1;
}

.reveal .flags [type=radio]:checked+img {
  pointer-events: none;
  opacity: 1;
  border: 4px solid white;
}

/* EXAMPLE DROPDOWN WITH LANGUAGE CHOOSER 
*/

nav .dropdown {
  /* position: relative; */
  display: inline-block;
  font-size: 16px;
  line-height: 50px;
}

nav input[type=checkbox] {
  display: none;
}

nav input[type=checkbox]+label {
  background: none;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
}

nav input[type=checkbox]+label:hover {
  opacity: 1;
}

nav input[type=checkbox]:checked+label {
  border-radius: 6px 6px 0 0;
}

nav input[type=checkbox]:checked~.langchooser {
  display: block;
  z-index: 2;
}

nav label {
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

nav .dropdown .langchooser {
  position: absolute;
  list-style: none;
  text-align: left;
  right: 0;
  top: 10vh;
  margin-top: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 0;
  display: none;
  border: none;
  background-color: #fff;
  border: 1px solid white;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  font-family: 'NewsCycle-bold';
}

.language-label {
  color: #FF7A00;
  font-family: 'NewsCycle-Bold';
}

nav .dropdown .langchooser label {
  display: block;
  padding: 0;
}

nav .langchooser [type=radio]+span {
  display: block;
  padding: .75em 2em;
  cursor: pointer;
}

nav .langchooser span:hover {
  opacity: 0.75;
}

nav .langchooser [type=radio]:checked+span {
  pointer-events: none;
  font-weight: bold;
  opacity: 1;
  position: relative;
}

nav .langchooser [type=radio]:checked+span:before {
  content: '*';
  display: block;
  position: absolute;
  left: 1em;
}

.btc-color {
  color: #f2a900;
}

.button {
  list-style: none!important;/* TODO: remove !important */
  display: flex!important;
  justify-content: center;
  flex-wrap: wrap;
  
}

.button li {
  border: 1px solid black;
  color: #fff;
  border: 1px solid #FF7A00;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
}
.button li a{
  color: #FF7A00;
}

.button li:nth-child(odd) {
  background-color: #FF7A00;
  border-color: #BF5C00;
  
}
.button li:nth-child(odd) a{
  color: #fff;
}